<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Add Expenses </title>
		<meta name="description" content="Add Business Expenses ">
		<meta name="author" content="Faiza Javed">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Add Expenses</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<center>
				<p class="msg">{{msg}}</p>
			</center>
		{{/if}}
		<main>
            <form method = "post" action="expenses/add" enctype="multipart/form-data">
                <p> <label for="username"></label>
                </p>
            </form>
		</main>
       
	</body>
	<footer>
		<p><a href="/">Home page</a></p>
	</footer>
</html>
